body {
  background: #9E9E9E;
  color: #fff;
  font-family: 'joystix', sans-serif;
  font-size: 24px;
  text-align: center;
}

header {
  height: 10vh;
  padding-bottom: 10px;
}

img {
  max-height: 100px;
  float: left;
}

canvas {
  border: solid .2em #fff;
  height: 80vh;
  margin: auto;
}

.controls {
  float: left;
  font-size: 12px;
}

@font-face {
  font-family: 'joystix';
  src: url('joystix.eot');
  src: local('joystix'), local('joystix'),
         url('joystix.otf') format('opentype');
}
