body {
  background: #9E9E9E;
  color: #fff;
  font-family: 'joystix', sans-serif;
  font-size: 1.4vw;
  text-align: center;
}

#tetris, #nextPiece, #holdPiece {
  border: solid .2em #fff;
  height: 80vh;
  width: auto;
  float: left;
}

.canvas-area {
  margin: 0 auto;
  margin-left: 33vw;
  text-align: left;
}

ul {
  float: left;
  width: 20%;
}

li {
  list-style: none;
  display: block;
}

.controls {
  float: left;
  display: block;
  font-size: 12px;
}

header {
  height: 10vh;
  padding-bottom: 10px;
}

img {
  max-height: 100px;
  float: left;
}

@font-face {
  font-family: 'joystix';
  src: url('joystix.eot');
  src: local('joystix'), local('joystix'),
         url('joystix.otf') format('opentype');
}

#nextPiece {
  width: 16vw;
  height: auto;
}

#holdPiece {
  width: 16vw;
  height: auto;
}

.next-piece {
  float: left;
}

.sidebar {
  float: left;
}
